* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

/* :root {
  --bg-1: orange;
  --bg-2: silver;
} */

#app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 1rem;
}
nav a {
  font-size: 1rem;
  display: inline-block;
  line-height: 1.5rem;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.87);
  cursor: pointer;
  padding: 5px 6.7px;
}
nav a:hover {
  text-decoration: underline;
  opacity: 0.85;
}
nav img {
  width: 2rem;
  padding: 0.25rem;
  margin: auto 0.5rem;
  cursor: pointer;
}
nav img:hover {
  opacity: 0.8;
  border: 1px solid rgb(150, 148, 0, 0);
  background: rgba(150, 148, 148, 0.1);
  border-radius: 50%;
}
nav button {
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background: #4285f4;
  color: #fff;
  padding: 7px 12px;
  border-radius: 3px;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: border 1s ease;
}
nav button:hover {
  box-shadow: 0px 10px 10px rgba(150, 148, 148, 0.1);
}
nav .sun_moon {
  border: none;
  background: transparent;
}
.section-1 {
  flex: 1;
}
.section-1 .logo {
  display: block;
  margin: 0px auto;
  margin-top: 2rem;
}
.s-box {
  width: 580px;
  margin: 0px auto;
  position: relative;
  margin-top: -8px;
  text-align: center;
}
.s-box .s-input {
  display: block;
  border: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  padding: 13px;
  padding-left: 45px;
  border-radius: 25px;
  width: 100%;
  transition: box-shadow 100ms;
  outline: none;
}
.s-box .s-input:hover {
  border: 1px solid #bcb9b9;
  box-shadow: 0 0 2px rgba(0, 0, 0 0.05), 0 0 2px rgba(0, 0, 0 0.05),
    0 0 7px rgba(0, 0, 0 0.05), 0 0 4px rgba(0, 0, 0 0.05),
    0 0 5px rgba(0, 0, 0 0.05), 0 0 4px rgba(0, 0, 0 0.05),
    0 0 5px rgba(0, 0, 0 0.05);
}
.s-box .search-icon {
  width: 20px;
  opacity: 0.4;
  position: absolute;
  top: 13px;
  left: 14px;
}
.s-box .vs-icon {
  width: 14px;
  position: absolute;
  top: 13px;
  right: 24px;
}
.s-btn {
  border: 1px solid transparent;
  padding: 9px 15px;
  color: #666;
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 28px;
  overflow: none;
  cursor: pointer;
  transition: border-color 100ms;
}
.s-btn:hover {
  border: 1px solid #aaa;
}

.lang {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
  color: #111;
}
.lang a {
  margin-left: 5px;
  color: #1a0dab;
}
.lang a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}
.category_list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: start;
}
ul li a {
  padding: 0px 0px 5px 0px;
  color: #000;
  opacity: 0.7;
  cursor: pointer;
  transition: all ease 0.3s;
  font-size: 14px;
}
ul li a:hover {
  text-decoration: underline;
  opacity: 1;
}
.video_image .content {
  display: flex;
}
.video_img .video_image video {
  width: 132px;
  height: 67px;
  padding: 8px;
  border-radius: 10px;
  object-fit: cover;
}
footer {
  background: #f2f2f2;
}
footer h4 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
  line-height: 39.5px;
  font-weight: 400;
  padding-left: 29px;
  border: 1px solid #eee;
}
footer a {
  color: #5f6368;
  display: inline-block;
  pad: 13px 13.2px;
  font-size: 14px;
}
footer a:hover {
  text-decoration: underline;
}
.links {
  height: 30px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}
.link-1 {
  display: flex;
  gap: 16px;
  padding-left: 18.7px;
  flex: 1;
}
.link-2 {
  display: flex;
  gap: 16px;
  padding-right: 18.7px;
}
